{% load static %}
<div class="section_header text-center mb-5 mt-4">
         <h1>About COVID-19</h1>
       </div>
       <div class="row pt-5">
         <div class="col-lg-5 col-md-6 col-12 ml-5 about_res ml-3">
           <img src="{% static 'Covid19/images/about.jpg' %}" class="img-fluid" alt="">
         </div>
         <div class="col-lg-6 col-md-6 col-12 mt-2">
          <h2>What is COVID-19 (Corana-Virus)</h2>
          <p>COVID-19 is the infection disease caused by the most recently
              discoverd coronavirus. This new virus and disease were unknown
               before the outbreak began in Wuhan, China in December 2019
          </p>
          <p>Corana viruses are a large family of viruses whic may causes iliness in animal or humans. 
              In humans, several coronaviruses are known to cause respiratory infections ranging from 
              the common cold to more server diseases such as Middle East Respiratory Syndrom (MERS) 
              and Server Acute Respiratory Syndrome(SARS). The most recently discoverd coronavirus causes 
              coranavirus diseases COVID-19</p>
      </div>
       </div>