{% load static %}

 <nav class="navbar navbar-expand-lg nav_style p-3">
        <a class="navbar-brand pl-5" href="#">COVID-19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto pr-5 text-capitalize">
            <li class="nav-item">
              <a class="nav-link" href="#aboutid">about</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sympid">symptoms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#previd">prevention</a>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'indiacorona' %}">IndiaCoranaLive</a>
               </li>
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'indiadatwise' %}">IndiaDayWise</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'worldcorona' %}">WorldCoranaLive</a>
              </li>
              
          </ul>
          
        </div>
      </nav>