{% load static %}

<h1>6 Steps Prevention Against Corona virus</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col--md-4 col-12 mt-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="{% static 'Covid19/images/handwash.jpg' %}" class="img-fluid" width="150"
                             height="150" >
                         </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>Wash your hands regularly for 20 seconds, with soap and water or alchohol-based hand rub</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col--md-4 col-12 mt-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="{% static 'Covid19/images/boy.png' %}" class="img-fluid" width="150"
                             height="150" >
                         </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>cover your nose and mouth with a disposable tissue or fixed elbow when your cough or sneeze</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col--md-4 col-12 mt-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="{% static 'Covid19/images/social-distancing.png' %}" class="img-fluid" width="150"
                             height="150" >
                         </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>Avoid close contact(2 meter or 6 feet) with people who are unwell maintain social distancing</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col--md-4 col-12 mt-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="{% static 'Covid19/images/stay-at-home.png' %}" class="img-fluid" width="150"
                             height="150" >
                         </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>Stay home and self-isolate from others in the household if you feel unwell</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col--md-4 col-12 mt-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="{% static 'Covid19/images/news.png' %}" class="img-fluid" width="150"
                             height="150" >
                         </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>stay informed by watching news & follow the recomended practices</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col--md-4 col-12 mt-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="{% static 'Covid19/images/sick.png' %}" class="img-fluid" width="150"
                             height="150" >
                         </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>If you have fever,cough and difficulty breathing seek medical care early</p>
                    </div>
                </div>
            </div>
        </div>
    </div>