{% load static %}
<div class="sect_header text-center mb-5 mt-4" id="sympid">
      <h1>Coronavirus symptoms</h1>
     </div>
    <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-12 mt-5">
              <figure class="text-center">
                 <img src="{% static 'Covid19/images/cough.png' %}" class="img-fluid" width="120" height="120" >
                 <figcaption>Cough</figcaption>
              </figure>
          </div>
          <div class="col-lg-4 col-md-4 col-12 mt-5">
              <figure class="text-center">
                 <img src="{% static 'Covid19/images/influenza.png' %}" class="img-fluid" width="120" height="120" >
                 <figcaption>Runny Nose</figcaption>
              </figure>
          </div>
          <div class="col-lg-4 col-md-4 col-12 mt-5">
              <figure class="text-center">
                 <img src="{% static 'Covid19/images/fever.png' %}" class="img-fluid" width="120" height="120" >
                 <figcaption>Fever</figcaption>
              </figure>
          </div>
          <div class="col-lg-4 col-md-4 col-12 mt-5">
              <figure class="text-center">
                 <img src="{% static 'Covid19/images/cold.png' %}" class="img-fluid" width="120" height="120" >
                 <figcaption>Sick</figcaption>
              </figure>
          </div>
          <div class="col-lg-4 col-md-4 col-12 mt-5">
              <figure class="text-center">
                 <img src="{% static 'Covid19/images/weakness.png' %}" class="img-fluid" width="120" height="120" >
                 <figcaption>Weakness</figcaption>
              </figure>
          </div>
          <div class="col-lg-4 col-md-4 col-12 mt-5">
              <figure class="text-center">
                 <img src="{% static 'Covid19/images/difficulty-breathing.png' %}" class="img-fluid" width="120" height="120" >
                 <figcaption>Difficulty Breathing</figcaption>
              </figure>
          </div>
      </div>
  </div>