*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Kanadaka', cursive;
}
.row{ margin-left: 0!important; margin-right:0!important}
.nav_style {
    background-color: #a29bfe!important;
}

.nav_style a {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.main_header {
    height: 450px;
    width: 100%;
}
.rightside h1{
    font-size: 3rem;
}
.co_rot img{
    animation: gocorona 3s linear infinite;
} 

@keyframes gocorona{
    0% { transform: rotate(0);}
    100% { transform: rotate(360deg);}
}

.leftside img {
    animation: heartbeet 8s linear infinite;
}
@keyframes heartbeet
{
    0% 
    {
        transform: scale(.75);
    }
    20% 
    {
        transform: scale(.1);
    }
    40% 
    {
        transform: scale(.75);
    }
    60% 
    {
        transform: scale(1);
    }
    80% 
    {
        transform: scale(.75);
    }
    100% 
    {
        transform: scale(1);
    }
}

.corona_updat {
    margin: 0 0 30px 0;
}
.corona_updat h2 {
    color: royalblue;
}

.corona_updat h1{
    font-size: 2rem;
    text-align: center;
}

.sub_section{
    background-color: royalblue;
    color: white;
}

.sect_header h1{
    color: royalblue;
}
.footer_style {
    background-color: royalblue!important;
}
.footer_style h2{
    margin-bottom: 0!important;
}

#myBtn {
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: royalblue;
    color: olive;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
   

}
#myBtn:hover {
    background: orangered;
}

@media(max-width:768px){
    .main_header{height: 700px; text-align: center;}
    
    .main_header h1{
        text-align: center;
        padding: 0;
        width: 100%;
        font-size: 30px;

    }
    .count_style{
        display: inline!important;
    }
    .count_style p{
        text-align: center!important;
    }
    .about_res{margin-left: 0!important;}
}
#wc_h1 {
    color: royalblue;
}
